<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Instacreations | Inicial</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{{ url_for('static',filename = 'css/bootstrap.min.css')}}">
      <!-- style css -->
      <link rel="stylesheet" href="{{ url_for('static',filename = 'css/style.css')}}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{{ url_for('static',filename = 'css/responsive.css')}}">
      <!-- fevicon -->
      <link rel="icon" href="{{ url_for('static',filename = 'images/fevicon.png')}}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{{ url_for('static',filename = 'css/jquery.mCustomScrollbar.min.css')}}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
       <div class="loader"><img src="{{ url_for('static',filename = 'images/loading.gif')}}" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <header>
       <!-- header inner -->
       <div class="header">
          <div class="container">
             <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                   <div class="full">
                      <div class="center-desk">
                         <div class="logo"> <a href="{{url_for('index')}}"><img src="{{ url_for('static',filename = 'images/1.png')}}" alt="#"></a> </div>
                      </div>
                   </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                   <div class="menu-area">
                      <div class="limit-box">
                         <nav class="main-menu">
                            <ul class="menu-area-main">
                                <li class="active"> <a href="{{url_for('iniciarSesion')}}">Iniciar Sesion</a> </li>
                                <li> <a href="{{url_for('registroUsuario')}}">Registrarse</a> </li>
                               <!-- <li><a href="#"><img src="images/search_icon.png" width="50" height="50" alt="icon"/></a></li> -->
                            </ul>
                         </nav>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <!-- end header inner -->
    </header>
    <!-- end header -->
      <section >
        <div id="main_slider" class="carousel slide banner-main" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#main_slider" data-slide-to="0" class="active"></li>
               <li data-target="#main_slider" data-slide-to="1"></li>
               <li data-target="#main_slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <div class="row marginii">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="carousel-caption ">
                            <br>
                            <br>
                              <h1 style="font-size: 35px;" >¡De artistas para artistas!<strong class="color"></strong></h1>
                              <p style="font-size: 20px;">Un espacio para dar a conocer tus creaciones. <br> Hecho por artistas para artistas.<br> Regístrate y haz parte de una de las comunidades <br> hispanoamericanas más grandes de artistas visuales.</p>
                           </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="img-box">
                              <figure><img src="{{ url_for('static',filename = 'images/redondo.png') }}" alt="img"/></figure>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
      </section>
      <!-- plant -->
      <div id="plant" class="plants">
         <div class="container">
            <div class="row">
               <div class="col-md-12 ">
                  <div class="titlepage">
                     <h2>¡Date a conocer!</h2>
                     <span>No importa si eres profesional o amateur. Aquí hay espacio para todos.<br>Desde fotografías hasta animación digital. Arma tu portafolio de creaciones y compártelo con los demás.</span>
                  </div>
               </div>
            </div>
         </div>
         <br>
         <br>
         <br>
         <div class="container">
            <div class="row">
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <!-- <div class="plants-box"> -->
                     <img src="{{ url_for('static',filename = 'images/validacion.png')}}" width="100" height="100" style="display:block;margin: auto;"/>
                     <!-- <figure><img src="images/validacion.png" alt="img"/></figure> -->
                     <br>
                     <h3 style="font-size: 35px; "> Regístrate</h3>
                     <p style="font-size: 20px;" >Hacer parte es muy sencillo.<br>Escoge un nombre de usuario y<br>contraseña. Activa tu cuenta y listo!</p>
                  <!-- </div> -->
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <!-- <div class="plants-box"> -->
                     <img src="{{ url_for('static',filename = 'images/validacion.png')}}" width="100" height="100" style="display:block;margin: auto;"/>
                     <br>
                     <h3 style="font-size: 35px;"> Privacidad</h3>
                     <p style="font-size: 20px;" >Escoge las imágenes que quieres<br> que todos vean y las que son de tu <br> uso personal</p>
                  <!-- </div> -->
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <!-- <div class="plants-box"> -->
                     <img src="{{ url_for('static',filename = 'images/validacion.png')}}" width="100" height="100" style="display:block;margin: auto;"/>
                     <br>
                     <h3 style="font-size: 35px;"> Visibilidad</h3>
                     <p style="font-size: 20px;" >Construye tu reputación como<br> artista o descubre el trabajo de <br> alguien más!</p>
                  <!-- </div> -->
               </div>
            </div>
         </div>
      </div>
      <!-- end plant -->
      <!--Gallery -->
      <div id="gallery" class="Gallery">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                  <h2>Tus imagenes pueden estar aquí</h2>
                  <p style="font-size: 20px;">Explora creaciones de otros artistas<br> Para descargarlas ¡Registrate ahora!</p>
                </div>
                <div class="demo">
                  <form class="form-search" method="POST" action="">
                     {{ form.hidden_tag() }}  
                        <div class="input-group">
                            <!-- <input class="form-control form-text" maxlength="128" placeholder="Buscar" size="15" type="text" />
                            <span class="input-group-btn"><button class="btn btn-primary"><i class="fa fa-search fa-lg">&nbsp;</i></button></span> -->
                              {{ form.busqueda }}
                             <button style="align-self: center;"> {{ form.botonBuscar() }} </button>
                             
                        </div>
                  </form>
                        
                    
                </div>
            </div>
         </div>
      </div>
      <br>
      <br>
      <br>
      {% for message in get_flashed_messages() %}
                                    
      <h6><br>{{ message }}</h6>
                             
      {% endfor %}

      <div class="container-fluid margin-r-l">
        <div class="row">
         {% for img in img_p %}
         <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 thumb">
              <div class="Gallery-box">
                 
                 <figure>
                     <img  src="{{ img[5] }}" class="zoom img-fluid "  alt=""> <!--Esta es la imagen-->
                    <span class="hoverle">
                    <a href="{{ img[5] }}" class="fancybox" rel="ligthbox"style="width: 40%;">Ver</a>
                                     
                    <a onclick="alert('Inicia sesión para descargar la imagen.')" style="cursor: pointer;" rel="ligthbox">Descargar</a>
                    </span>
                 </figure>
              </div>
           </div>
           {% endfor %} 
          
        </div>
     </div>
     <!-- End contenedor imagenes -->
      <!-- footer -->
      <footer>
        <div id="contact" class="footer">
           <div class="container">
              <div class="row pdn-top-30">
                 <div class="col-md-12 ">
                    <div class="footer-box">
                       <div class="headinga">
                          <span>Demo Red Social de Imágenes</span>
                          <li> <a href="#"><img src="{{ url_for('static',filename = 'images/2.png')}}" sizes="25%"></a></li>
                       </div>
                       <ul class="location_icon">
                          
                          
                       </ul>
                       <div class="menu-bottom">
                          <ul class="link">
                             <li> <a href="#">Volver arriba</a></li>
                             
                          </ul>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="copyright">
              <div class="container">
                 <p>Copyright 2020 All Rights Reserved Design By  <a href="https://www.mintic.gov.co/portal/inicio/">CoffeTeam</a></p>
              </div>
           </div>
        </div>
     </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="{{ url_for('static',filename = 'js/jquery.min.js')}}"></script>
      <script src="{{ url_for('static',filename = 'js/popper.min.js')}}"></script>
      <script src="{{ url_for('static',filename = 'js/bootstrap.bundle.min.js')}}"></script>
      <script src="{{ url_for('static',filename = 'js/jquery-3.0.0.min.js')}}"></script>
      <script src="{{ url_for('static',filename = 'js/plugin.js')}}"></script>
      <!-- sidebar -->
      <script src="{{ url_for('static',filename = 'js/jquery.mCustomScrollbar.concat.min.js')}}"></script>
      <script src="{{ url_for('static',filename = 'js/custom.js')}}"></script>
      <!-- javascript --> 
      <!-- <script src="{{ url_for('static',filename = 'js/owl.carousel.js')}}"></script> -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
         $(document).ready(function(){
         $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
         
         $(".zoom").hover(function(){
         
         $(this).addClass('transition');
         }, function(){
         
         $(this).removeClass('transition');
         });
         });
         
      </script> 
   </body>
</html>