<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Instacreations | Editar imagen</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{{ url_for('static',filename = 'css/bootstrap.min.css')}}">
      <!-- style css -->
      <link rel="stylesheet" href="{{ url_for('static',filename = 'css/style.css')}}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{{ url_for('static',filename = 'css/responsive.css')}}">
      <!-- fevicon -->
      <!-- <link rel="icon" href="{{ url_for('static',filename = 'images/fevicon.png')}}" type="image/gif" /> -->
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{{ url_for('static',filename = 'css/jquery.mCustomScrollbar.min.css')}}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="{{ url_for('static',filename = 'images/loading.gif')}}" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo"> <a href="{{url_for('inicialSesion')}}"><img src="{{ url_for('static',filename = 'images/1.png')}}" alt="#"></a> </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <div class="menu-area">
                        <div class="limit-box">
                           <nav class="main-menu">
                              <ul class="menu-area-main">
                                 <li class="active"> <a href="{{url_for('inicialSesion')}}">{{ NombreUsuario }}</a> </li>
                                 <li><a href="#"><img src="{{ url_for('static',filename = 'images/search_icon.png')}}" width="50" height="50" alt="icon"/></a></li>
                              </ul>
                           </nav>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end header inner -->
      </header>
      <!-- end header -->
      <section >
         <section >
            <div id="main_slider" class="carousel slide banner-main" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#main_slider" data-slide-to="0" class="active"></li>
               </ol>
               <div class="container">
                  <div class="row marginii">
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <form action="" method="POST" enctype="multipart/form-data" role="form" class="registroForm" style="background-color: rgba(127, 255, 212, 0.37); ">
                           {{ form.hidden_tag() }}
                           <h1><strong class="color">Editar Imagen </strong></h1>
                           <div class="col-lg-12">
                              <div class="form-group">
                                 <!-- <h3>Nombre<strong class="color"></strong></h3> -->
                                 <h3>{{ form.nombre.label }}</h3>
                                 {{ form.nombre }}
                                 {% for error in form.nombre.errors %}
                                 <h6 style="font-size: x-small; text-align: left;">{{ error }}</h6>
                                 {% endfor %}
                              </div>
                           </div>
                           <div class="col-lg-12">
                              <div class="form-group">
                                 <!-- <h3>Descripción<strong class="color"></strong></h3> -->
                                 <h3>{{ form.descripcion.label }}</h3>
                                 {{ form.descripcion }}
                                 {% for error in form.descripcion.errors %}
                                 <h6 style="font-size: x-small; text-align: left;">{{ error }}</h6>
                                 {% endfor %}
                                 <!-- <textarea type="text" placeholder="Coloca la descripción de tu imagen aquí" name="nombredelacaja"></textarea> -->
                              </div>
                           </div>
                           <p>
                              {% for subfield in form.privacidad %}
                              <tr>
                                 <td>{{ subfield }}</td>
                                 <td>{{ subfield.label }}</td>
                              </tr>
                              {% endfor %}
                              {% for error in form.privacidad.errors %}
                              <h6 style="font-size: x-small; text-align: left;">{{ error }}</h6>
                              {% endfor %}
                           </p>
                           <!-- <a class="btn btn-lg btn-primary" href="#" role="button">Guardar</a> -->
                           <div class="col-lg-12">
                              {{ form.file2 }}
                              {{ form.crearImagen2() }}
                           </div>
                        </form>
                     </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="img-box">
                              <br>
                              <br>
                              <br>
                              <br>
                              
                              <figure><img src="{{ imagen[2] }}" alt="img"/></figure>
                              
                              <p>Vista previa</p>
                              <!-- <input name="boton" type="file"></input>  CORREGIR -->
                              <!-- <h3>{{ form.nombre.label }}</h3>
                              {{ form.nombre }} -->
                              <!-- {{ form.photo }} -->
                              <form action="" method="POST" enctype="multipart/form-data" role="form" class="registroForm" style="background-color: rgba(127, 255, 212, 0.37); ">
                                 {{ form2.hidden_tag() }}
                                 {{ form2.eliminar() }}
                              </form>
                              <!-- <a class="btn btn-lg btn-primary" href="/eliminarImagen/imagen[3]" role="button">Eliminar</a> -->
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <footer>
         <div id="contact" class="footer">
            <div class="container">
               <div class="row pdn-top-30">
                  <div class="col-md-12 ">
                     <div class="footer-box">
                        <div class="headinga">
                           <span>Demo Red Social de Imágenes</span>
                           <li> <a href="#"><img src="{{ url_for('static',filename = 'images/2.png')}}" sizes="25%"></a></li>
                        </div>
                        <ul class="location_icon">
                           
                           
                        </ul>
                        <div class="menu-bottom">
                           <ul class="link">
                              <li> <a href="#">Volver arriba</a></li>
                              
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <p>Copyright 2020 All Rights Reserved Design By  <a href="https://www.mintic.gov.co/portal/inicio/">CoffeTeam</a></p>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="{{ url_for('static',filename = 'js/jquery.min.js')}}"></script>
      <script src="{{ url_for('static',filename = 'js/popper.min.js')}}"></script>
      <script src="{{ url_for('static',filename = 'js/bootstrap.bundle.min.js')}}"></script>
      <script src="{{ url_for('static',filename = 'js/jquery-3.0.0.min.js')}}"></script>
      <script src="{{ url_for('static',filename = 'js/plugin.js')}}"></script>
      <!-- sidebar -->
      <script src="{{ url_for('static',filename = 'js/jquery.mCustomScrollbar.concat.min.js')}}"></script>
      <script src="{{ url_for('static',filename = 'js/custom.js')}}"></script>
      <!-- javascript --> 
      <!-- <script src="js/owl.carousel.js"></script> -->
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
         $(document).ready(function(){
         $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
         
         $(".zoom").hover(function(){
         
         $(this).addClass('transition');
         }, function(){
         
         $(this).removeClass('transition');
         });
         });
         
      </script> 
   </body>
</html>